[Desktop Entry]
Encoding=UTF-8
Name=Window Maker
Name[da]=WindowMaker
Name[gl]=WindowMaker
Name[ko]=윈도우 메이커
Name[no]=WindowMaker
Name[pl]=Window Maker
Name[uk]=Window Maker
Exec=wmaker
TryExec=wmaker

[Window Manager]
SessionManaged=false
ConfigExec=/usr/X11R6/lib/GNUstep/Apps/WPrefs.app/WPrefs
# vi: encoding=utf-8
